body {
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

/* Modal Content Styling */
#modal-content {
    max-height: 75vh; /* Slightly increased the height of the modal content */
    overflow-y: auto; /* Allows scrolling inside the modal */
    padding-right: 15px; /* Prevents scrollbar from overlapping content */
}

/* Modal Styling */
#modal {
    max-width: 600px; /* Increased the width of the modal */
    width: 90%; /* Makes the modal responsive by taking 90% of the screen width */
    max-height: 75vh; /* Ensures the modal doesn't exceed 75% of the screen height */
    overflow-y: auto; /* Enables scroll within the modal */
    margin: 0 auto; /* Centers the modal horizontally */
}

/* Optional: to add a subtle border and rounded corners to the modal */
#modal .bg-white {
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

p {
    color: rgb(107, 114, 128);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card {
    max-width: 620px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.card p:last-child {
    margin-bottom: 0;
}
