body {
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Arial", sans-serif;
}

/* Modal Content Styling */
#modal-content {
    max-height: 80vh; /* Limits the height of the modal content */
    overflow-y: auto; /* Allows scrolling inside the modal */
    padding-right: 15px; /* Prevents scrollbar from overlapping content */
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

p {
    color: rgb(107, 114, 128);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.card {
    max-width: 620px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 16px;
}

.card p:last-child {
    margin-bottom: 0;
}
